.element-animation {
  /*Скроемэлементвначальномсостоянии*/
  opacity: 0;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

.element-animation-left {
  /*Скроемэлементвначальномсостоянии*/
  opacity: 0;
  transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  -moz-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  -o-transform: translateX(-150px);
}

.element-animation-left.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

.element-animation-right {
  /*Скроемэлементвначальномсостоянии*/
  opacity: 0;
  transform: translateX(150px);
  -webkit-transform: translateX(150px);
  -moz-transform: translateX(150px);
  -ms-transform: translateX(150px);
  -o-transform: translateX(150px);
}

.element-animation-right.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

.element-animation-cart1,
.element-animation-cart2,
.element-animation-cart3,
.element-animation-cart4,
.element-animation-cart5,
.element-animation-cart6,
.element-animation-cart7,
.element-animation-cart8,
.element-animation-cart9 {
  /*Скроемэлементвначальномсостоянии*/
  opacity: 0;
}

.element-animation-cart1.element-show,
.element-animation-cart2.element-show,
.element-animation-cart3.element-show,
.element-animation-cart4.element-show,
.element-animation-cart5.element-show,
.element-animation-cart6.element-show,
.element-animation-cart7.element-show,
.element-animation-cart8.element-show,
.element-animation-cart9.element-show {
  opacity: 1;
  transition: all 1.5s;
}

.element-animation-cart2.element-show {
  transition-delay: 0.2s;
}

.element-animation-cart3.element-show {
  transition-delay: 0.4s;
}

.element-animation-cart4.element-show {
  transition-delay: 0s;
}

.element-animation-cart5.element-show {
  transition-delay: 0.2s;
}

.element-animation-cart6.element-show {
  transition-delay: 0.4s;
}

.element-animation-cart7.element-show {
  transition-delay: 0s;
}

.element-animation-cart8.element-show {
  transition-delay: 0.2s;
}

.element-animation-cart9.element-show {
  transition-delay: 0.4s;
}
