@charset "UTF-8";
.element-animation {
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.element-animation-left {
  /*Скроемэлементвначальномсостоянии*/
  opacity: 0;
  transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
}

.element-animation-left.element-show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}